footer {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: inset 0px 1px 0px #c5c5c6;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .footer-links {
  display: flex;
  }

  .footer-links a {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  }

  .footer-social {
  display: flex;
  }

  .footer-social img {
  display: flex;
  width: 100%;
  height: 90%;
  }
 .insta{
  width: 25%;
  height: 25%;
 }
 .twi{
  width: 28%;
  height: 28%;
 }
 .fa{
  width: 25%;
  height: 25%;
 }
  .logo{
    padding-right: 43%;
    width: 20px;

    height: 20px;
  }
  .coordonnees{
    padding-right: 30%;
  }
