/* Debut du footer */

.footer{
    padding-top: 50px;
    background-color: #c9c1c1;
    display: flex;
    justify-content: space-around;
  }
  
  .Titre-Footer h3{
    color: black;
  
  }
  
  /* Style de la partie gauche du footer */
  
  .gris{
    color: black;
  }
  
  .footerOrange{
    color: black;
  }
  
  .imageLiens{
    display: flex;
    align-items: center;
    height: 40px;
    padding-top: 50px;
  }
  
  .fa{
    padding: 10px;
    color: black;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 2px;
  }
  
  .copyright{
    color:black;
    margin-top: 100px; 
  }
  
  /* Style de la partie droite du footer */
  
  li{
    margin-top: 20px;
    
  }
  
  .gris2{
    color: black;
  }
  
  .gris2:hover{
    color: white;
  } 