#disconnect {
    font-size: 25px;
    min-width: 90px;
    padding: 15px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none; 
    background: #EFEFEF;
    color: red;
  
  }
  footer {
    position: absolute;
    bottom: 0;
    background-color: #fafafa;
    padding: 20px;
    box-shadow: inset 0px 1px 0px #c5c5c6;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
  }
  
  .footer-links a {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
  }
  
  .footer-social {
    display: flex;
  }
  
  .footer-social a {
    margin-right: 20px;
  }
  
  .footer-social img {
    width: 30px;
    height: 30px;
  }
  
  .logo{
    display: flex;
    width: 20px;
    height: 25px;
  }
  